.category-products {
  min-height: 200vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


.products-header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15%;
  padding: 0 15%;
  border-radius: 20px;
}
.products-header-desktop  img {
  width: 500px;
}

.products-header-desktop  h2 {
  font-size: 48px;
  padding-left: 5%;
  line-height: 56px;
}

.products-header-mobile {
  display: none;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.container-products {
  display: flex;
  width: 100%;
  padding: 0 10%;
  margin-top: 30px;
}

.container-products .sidebar {
  width: 20%;
  padding: 0 3%;
}

.sidebar .filter-section {
  margin-bottom: 20px;
  border: none;
}

.sidebar .filter-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar .filter-section h4 img {
  width: 10px;
  height: 10px;
  float: right;
}

.sidebar .filter-section ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0;
}

.filter-section img {
  cursor: pointer;
}

.sidebar .filter-section ul li {
  margin-bottom: 10px;
  width: 100%;
}

.sidebar .filter-section ul li span {
  float: right;
  color: #969696;
}
.sidebar .filter-section hr {
  color: #969696;
  background-color: #bcbcbc;
  margin: 20px 0;
}

.sidebar .filter-section ul li input {
  margin-right: 10px;
}

.sidebar .sidebar-search {
  width: 100%;
  display: none;
  align-items: center;
  padding: 10px;
  background-color: white;
  border: 1px solid #969696;
  border-radius: 8px;
}

.sidebar .sidebar-search input {
  border: none;
  color: #e9e9e9;
  padding: 10px 0;
}

.sidebar a {
  width: 100%;
  padding: 10px 2rem;
  text-decoration: none;
  color: #293c57;
  border: 1px solid #293c57;
  background-color: white;
  text-align: center;
  display: none;
}

.search-box {
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-range label {
  margin-right: 5px;
}

.price-range input {
  width: 45%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.slider-container {
  margin-top: 10px;
}

.slider {
  width: 100%;
}

.search-box input {
  width: calc(100% - 20px);
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.price-range {
  display: flex;
  flex-direction: column;
}

.price-range hr {
  width: 30%;
  margin-left: 70%;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-inputs div {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.price-inputs label {
  margin-bottom: 5px;
}

.price-inputs input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.price-display {
  text-align: right;
  font-size: 14px;
}

.content-products {
  width: 75%;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.search-bar-input {
  width: 30%;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  display: flex;
  overflow: hidden;
}
.search-bar-input input {
  border: none;
  width: 92%;
  padding: 10px;
}
.search-bar-input i {
  font-size: 20px;
  color: #969696;
  margin-top: 8px;
}

.search-bar .search-icon {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.search-bar select {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.search-bar .search-button {
  padding: 10px 20px;
  border: 1px solid #293c57;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  width: 15%;
  color: #293c57;
  margin: 0;
}

.products-list {
  padding: 5% 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products-list .product-item {
  width: calc(33.333% - 20px);
  padding: 20px;
  border-radius: 8px;
}

.products-list .product-image img {
  width: 80%;
  max-height: 220px;
  margin: 0 10% 15px;
}

.products-list .product-info {
  padding: 5px 10px;
}

.products-list .product-info hr {
  width: 90%;
  margin: 2% 5% 5%;
}

.products-list .product-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.products-list .product-info h3 a {
  text-decoration: none;
  color: black;
}

.products-list .product-info p a {
  text-decoration: none;
  color: #969696;
}

.products-list .product-info img {
  width: 25px;
  height: 25px;
  margin: 0;
}

.product-info .product-category,
.product-info .product-rating,
.product-info .product-price,
.product-info .product-availability {
  margin: 5px 0;
  font-size: 18px;
}

.product-info .product-location {
  font-size: 18px;
  color: #5a5959;
}

.products-list .product-rating {
  display: flex;
  align-items: center;
  padding: 3% 0;
  font-size: 18px;
}

.products-list .product-rating p {
  margin: 1% 10% 0 2%;
  font-size: 12px;
}

.products-list .product-rating span {
  margin-left: 5px;
  font-size: 16px;
  color: #969696;
}

.products-list .product-price {
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.products-list .product-location p img {
  width: 15px;
  height: 15px;
}

.product-location,
.product-availability {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.product-availability {
  margin: 2% 0;
}

.product-price {
  display: flex;
  justify-content: space-between;
}

.product-price p {
  background-color: black;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
}

.product-price .product-date {
  background-color: #e9e9e9;
  color: #777;
  padding: 10px 10px;
  border-radius: 8px;
}

.content-products button {
  width: 20%;
  margin: 5% 40%;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #293c57;
  border-radius: 8px;
}

.content-products img {
  width: 80%;
  max-height: 600px;
  margin: 2% 10%;
  background-color: #faf9fa;
}

.content-products .product-detail {
  width: 100%;
  background-color: #f5f5f5;
}

.product-detail .price-detail {
  width: 30%;
  margin-left: 10%;
}

.product-detail .price-detail .product-price {
  color: white;
}

.product-detail .price-detail .product-price p,
.product-detail .price-detail .product-price a {
  padding: 5px 2rem;
}

.product-detail .price-detail button {
  width: 100%;
  padding: 1rem 0;
  background-color: #293c57;
  color: white;
  margin: 1rem 0 20px;
  cursor: pointer;
}

.product-detail hr {
  width: 90%;
  margin: 0 5%;
}

.description-products {
  width: 100%;
  padding: 5% 10%;
}

.description-products h1 {
  font-size: 64px;
}

.product-detail ul {
  width: 100%;
  padding: 2% 3% 1%;
  line-height: 42px;
  color: black;
  font-size: 24px;
}

.product-detail ul li ul {
  list-style: none;
  padding: 0;
}

.content-products .rating-user {
  width: 100%;
  display: flex;
  background-color: white;
  padding: 3% 0;
}

.rating-user .rating {
  width: 50%;
}

.rating p {
  margin: 1rem 0 2rem;
  color: #969696;
}

.rating .superbaddons-ratings-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 5%;
}

.rating .superbaddons-ratings-ratingbars-wrapper {
  width: 60%;
}

.superbaddons-ratings-ratingbars-wrapper .superbaddons-ratings-ratingbar {
  display: flex;
  margin-bottom: 5%;
  column-gap: 3%;
}

.superbaddons-ratings-ratingbars-wrapper .superbaddons-ratings-ratingbar p {
  margin: 0;
  padding: 0;
  color: #b5b5b5;
  font-size: 16px !important;
}

.superbaddons-ratings-ratingbar-bar {
  background-color: #b5b5b5 !important;
  margin-top: 3px;
}

.superbaddons-ratings-ratingbar-bar-fill {
  background-color: #4285f4 !important;
}

.rating li {
  list-style: none;
  margin-top: 2rem;
}

.rating .superbaddons-ratings-overall-rating-wrapper {
  display: block;
}

.rating .superbaddons-ratings-overall-rating-wrapper span {
  font-size: 60px !important;
  margin-bottom: 1rem;
}

.rating .superbaddons-ratings-overall-rating-wrapper span span {
  font-size: 30px !important;
}

.rating-user form {
  width: 50%;
  display: block;
  padding: 1% 7% 0 5%;
}

.rating-user form input[type="text"],
.rating-user form textarea {
  width: 100%;
  padding: 15px 20px;
  margin: 2% 0;
  border: none;
  background-color: #e7e7e7;
  border-radius: 8px;
}

.rating-user form button {
  width: 100%;
  padding: 15px 20px;
  margin: 2% 0 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
}

.products-similarity {
  width: 100%;
  padding: 5% 5%;
}

.products-similarity h2 {
  font-size: 42px;
}

.products-similarity .products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 2fr));
  gap: 40px;
  padding: 20px;
}

.products-similarity .product {
  padding: 5%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.products-similarity .product img {
  width: 60%;
  border-radius: 50%;
}

.products-similarity .product h3 {
  margin: 2% 0 3%;
}

.products-similarity .product h3 a {
  text-decoration: none;
  color: black;
}

.category-products .contact-review {
  width: 100%;
  height: 450px;
  background-color: #eab200;
  margin-bottom: 5%;
  position: relative;
}

.contact-review form {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40%;
  height: 100%;
  display: block;
  padding: 3% 5%;
}

.contact-review form input,
.contact-review form textarea {
  width: 100%;
  padding: 20px;
  margin: 2% 0;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.contact-review form label {
  color: white;
}

.contact-review form button {
  width: 25%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #eab200;
  cursor: pointer;
  font-size: 16px;
}

.contact-review form button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.contact-review p {
  position: absolute;
  top: 0;
  left: 50%;
  word-break: break-all;
  padding: 20px 5%;
  color: white;
}


@media only screen and (max-width: 768px) {
  .products-header-desktop {
    display: none !important;
  }

  .products-header-mobile {
    display: block;
  }

  .products-header-mobile img {
    width: 100%;
    background-size: contain;
  }

  .container-products {
    display: block;
    padding: 0;
  }

  .container-products .sidebar {
    width: 100%;
  }

  .sidebar .sidebar-search {
    display: flex;
    padding: 10px;
    margin: 5% 0;
  }

  .sidebar .sidebar-search input {
    padding: 10px;
  }

  .sidebar .filter-section {
    border-radius: 8px;
    padding: 20px ;
    border: 1px solid #e9e9e9;
  }

  .sidebar .filter-section hr {
    display: none;
  }

  .sidebar .filter-section h4  {
    color: #969696;
  }

  .sidebar .filter-section h4 img {
    float: left;
    margin: 5px 10px;
  }

  .sidebar .filter-section .search-box {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .content-products {
    width: 100%;
  }

  .content-products button {
    width: 40%;
    margin: 5% 30%;
  }

  .products-list {
    display: block;
    width: 100%;
    padding: 5%;
  }

  .products-list .product-item {
    width: calc(100% - 20px);
  }

  .contact-review {
    display: none;
  }

  .detail {
    display: none;
  }

  .product-detail .price-detail {
    width: 100%;
    margin: 0;
    padding: 0 10%;
  }
  .product-detail .price-detail button a {
    width: 100%;
    padding: 0;
    background-color: #293c57;
    color: white;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
  }


  .content-products .rating-user  {
    display: block;
    padding: 0 5%;
  }
  .content-products .rating-user .rating {
    width: 100%;
  }
  .content-products .rating-user form {
    width: 100%;
  }


  .products-similarity h2{
    font-size: 32px;
    padding: 5%;
    text-align: center;
  }


  .products-similarity .products-list {
    width: 80%;
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 2fr));
    gap: 40px;
    padding: 20px;
  }
}