.container-contact {
    width: 100%;
    min-height: 200vh;
    padding: 0 14%;
}

.container-contact .header-contact {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 10px;
}


.container-contact .header-contact img {
    height: 100%;
    background-size: cover;
}

.container-contact .header-contact h1 {
    font-size: 36px;
    text-align: center;
    margin-left: 6%;
}

.container-contact .contact {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #Fff;
    border-radius: 10px;
}

.contact .contact-input {
    width: 60%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 5%;
    border-radius: 8px;
}

.contact  .contact-input h3, .contact .contact-input-mobile h3{
    font-size: 24px;
    color: black;
    margin: 1% 0 4%;
}

.contact  .contact-input form, .contact .contact-input-mobile form {
    display: block;
    width: 100%;
    height: 90%;
    color: black;
}

.contact  .contact-input input, .contact-input textarea,
.contact-input-mobile textarea, .contact .contact-input-mobile input{
    width: 100%;
    padding: 2%;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    margin: 1% 0 3%;
}
.contact  .contact-input label span, 
.contact  .contact-input-mobile label span {
    color: red;
}

.contact  .contact-input textarea, 
.contact  .contact-input-mobile textarea {
    height: 20%;
}

.contact  .contact-input button,
.contact  .contact-input-mobile button {
    width: 60%;
    margin: 5% 20%;
    padding: 15px 0;
    font-size: 16px;
    background-color: #293C57;
    color: white;
    border: none;
    border-radius: 8px;
}

.contact-input-mobile {
    width: 60%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 5%;
    border-radius: 8px;
}

.contact .contact-info {
    width: 30%;
    height: 70%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 4%;
    border-radius: 8px;
    background-color: #293C57;
    color: white;
}

.contact .contact-info h2 {
    text-align: center;
    font-size: 38px;
    margin: 0 0 5%;
}

.contact .contact-info ul li {
    list-style: none;
    margin: 2% 0;
    padding: 0 1rem;
}

.contact .contact-info ul li  h5 {
    padding: 0 2.5rem;
    font-size: 18px;
}

.contact .contact-info ul li p {
    margin: 10px 5px;
    display: flex;
    column-gap: 5%;
    position: static;
    padding: 0;
}

.contact .contact-info ul li p

.contact .contact-info ul li p i {
    margin-right: 10px;
}

.map-company {
    width: 100%;
    height: 900px;
    margin-top: 10%;
    display: block;
}

.map-company h2 {
    text-align: center;
    font-size: 38px;
    margin: 0 0 5%;
    color: black;
}

.map-company .map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-company .map img {
    width: 50%;
    border-radius: 10px;
    margin-right: 5%;
}

.location {
    width: 45%;
    height: 100%;
    display: block;
}

.location-detail {
    width: 100%;
    height: 20%;
    display: flex;
    padding: 4%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin: 0 0 5%;
    cursor: pointer;
}

.map .location-detail img {
    width: 20%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.location-detail h5 {
    font-size: 18px;
    margin-top: 5%;
    padding-right: 20% ;
}

.target-active {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.location-detail:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.service-desktop {
    display: block;
}

.service-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container-contact {
        padding: 0 5%;
    }
    .container-contact .contact  {
        display: block;
    }

    .contact .contact-input {
       display: none;
    }

    .contact .contact-info {
        width: 100%;
        position:relative;
        z-index: 1;
    }

    .contact-input-mobile {
        width: 80%;
        display: block;
        position: absolute;
        left: 10%;
        bottom: -80%;
        z-index: 100;
        background-color: white;
    }

    .contact-input-mobile form {
        padding: 0;
        margin: 0;
    }

    .service-desktop {
        display: none;
    }
    
    .service-mobile {
        display: block;
    }

    .map-company .map {
        display: block;
        position: relative;
    }

    .map-company .map img{
        width: 100%;
        position: relative;
    }

    .map-company .location {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 10%;
        z-index: 100;
    }

    .map-company .location .location-detail {
        background-color: white;
    }

    .location .location-detail img {
        width: 25%;
    }
}