html {
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15%;
  background-color: #fff;
}

.logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 20px;
}

.nav-links a i {
  font-size: 10px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -20%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  list-style: none;
  min-width: 10rem;
}

.sub-menu li {
  margin: 0;
}

.sub-menu a {
  width: 100%;
  display: block;
  padding: 10px 30px;
  color: #000;
  text-align: center;
}

.sub-menu a:hover {
  background-color: #293c57;
  color: white;
}

.dropdown:hover .sub-menu {
  display: block;
}

.call-button a {
  text-decoration: none;
  color: #fff;
  background-color: #2c3e50;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.call-button:hover {
  transform: scale(1.15);
  transition: 1s;
}

/* Menu */
.burger-menu {
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
  margin-left: 30%;
}

.burger-menu .menu-navbar-menus-container {
  display: none;
  width: 200px;
  position: absolute;
  top: 120%;
  right: -20%;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}

.burger-menu .menu-navbar-menus-container li {
  margin: 10px 0;
  list-style: none;
}

.burger-menu .menu-navbar-menus-container a {
  background-color: #fff;
  text-decoration: none;
  color: #293c57;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    padding: 5px 5%;

  }

  .logo  img{
    width: 100px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }
}
