.container {
  max-width: 1920px;
  min-height: 1000px;
  margin: 0;
  padding: 0;
}

.intro-text {
  text-align: center;
  margin-bottom: 40px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
}

.introduct {
  width: 100%;
  height: 100%;
  padding: 0 15%;
  margin: 3% 0;
  font-family: Arial, Helvetica, sans-serif;
}

.introduct h2:not(b) {
  font-size: 48px;
  width: 50%;
  margin: 3% 0% 2%;
  font-weight: 600;
}

.introduct b {
  font-weight: 550;
}

.introduct img {
  width: 50%;
  float: right;
  padding: 0;
}

.service-mobile {
  display: none;
}

.service-desktop {
  display: block;
}

.introduct p {
  width: 50%;
  font-size: 16px;
  padding: 0 8% 0 0;
  line-height: 26px;
}

.introduct .left {
  float: left;
}

.search-intro {
  width: 50%;
  float: left;
  display: flex;
  align-items: left;
  margin: 20px 0px;
}

.search-intro .search-intro-input {
  width: 50%;
  display: flex;
  border: 1px solid #c4c4c4;
  margin-right: 5%;
  border-radius: 6px;
  overflow: hidden;
}

.search-intro .search-intro-input img {
  width: 25px;
  height: 25px;
  margin: 10px;
  cursor: pointer;
}

.search-intro-input input {
  width: 90%;
  padding: 16px 0px;
  border: none;
  font-size: 16px;
}

.search-intro-input input::placeholder {
  color: #c4c4c4;
}

.search-intro-input i {
  font-size: 1.5rem;
  color: #c4c4c4;
  margin: 12px 10px;
}

.search-intro button {
  width: 20%;
  background-color: #293c57;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

.recommend_search {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.recommend_search span {
  font-size: 14px;
  color: #6b798b;
}

.logo-contact {
  width: 100%;
  padding: 10px 10%;
}

.logo-contact img {
  width: 100%;
}

.service {
  width: 100%;
  height: auto;
  padding: 0 18%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3%;
}

.service h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: black;
}

.service p {
  text-align: center;
  padding: 0 30.5%;
  font-size: 18px;
  line-height: 21.78px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  margin-top: 5px;
}

.service-detail {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 2fr));
  gap: 40px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f4f6fa;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  padding-right: 45%;
  line-height: 29.05px;
  z-index: 100;
}

.card p {
  font-size: 16px;
  color: #666;
  text-align: left;
  margin: 0;
  margin-bottom: 10%;
  padding: 0 55% 0 0;
}

.card img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
}

.factory img {
  width: 300px;
  height: 210px;
  margin-top: 60%;
}

.robot h3 {
  padding-right: 40%;
}

.robot p {
  padding-right: 60%;
}

.robot img {
  height: 240px;
}

.tool h3 {
  padding-right: 30%;
}

.tool img {
  width: 245px;
}

.tool p {
  padding-right: 57%;
}

.enginee img {
  height: 195px;
  width: 250px;
}

.enginee p {
  padding-right: 60%;
}

.product-search {
  width: 100%;
  height: auto;
  padding: 0 15%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 0;
}

.product-search a {
  width: 14%;
  padding: 14px 20px;
  background-color: #293c57;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 5% 43% 2%;
  text-decoration: none;
}

.product-search a:hover {
  color: #ffc107;
}

.product-search h2 {
  font-size: 48px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.product-search p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.list-products-search {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 2fr));
  gap: 30px;
  padding: 10px;
  margin: 5px 0 5%;
}

.list-products-search .product-rating {
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.list-products-search a {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

.list-products-search .product-rating a img {
  max-height: 200px;
  width: 100%;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
}

.list-products-search .product-rating:hover {
  transform: scale(1.05);
  transition: 0.75s;
  cursor: pointer;
}

.list-products-search .product-rating p {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin: 10px 0;
}

.list-products-search .product-rating p a {
  color: #c4c4c4;
}

.list-products-search .product-rating h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.list-products-search .rating-product {
  display: flex;
  width: 100%;
}

.list-products-search .rating-product img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.list-products-search .rating-product span {
  color: #c4c4c4;
  margin: 5px 8px;
  font-size: 12px;
}

.list-products-search .product-rating hr {
  color: #dadada;
  margin: 3% 0;
}
.list-products-search .product-rating button {
  width: 30%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  background-color: #141933;
  color: white;
}

.list-products-search .product-rating button a {
  background-color: #141933;
  color: white;
}

.list-products-search .product-rating button:hover {
  color: #ffc107;
}

.certificate {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  width: 70%;
  margin: 0% 15% 5%;
  border-radius: 20px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.panner-company {
  width: 45%;
  height: 100%;
  position: relative;
  padding: 8% 5%;
}

.panner-company img {
  position: absolute;
}

.icon-company {
  width: 150px;
  top: 20%;
  left: 3%;
  z-index: 10;
}

.certificate-image {
  width: 200px;
  border-radius: 20px;
  z-index: 10;
  top: 75%;
  right: 3%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.company-image {
  width: 400px;
}

.certificate-content {
  width: 55%;
  height: 60%;
  margin: 15% 0;
  padding-right: 4%;
}

.certificate-content h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
  color: white;
}

.certificate-event {
  width: 100%;
  display: flex;
  column-gap: 2%;
  margin-top: 5%;
}

.certificate-event a {
  width: 20%;
  padding: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}

.products-category {
  width: 100%;
  padding: 0 15%;
  min-height: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

.products-category h2 {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: black;
  font-weight: 600;
}

.products-category-list {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 2fr));
  gap: 30px;
  padding: 20px;
  margin: 2% 20%;
}

.products-category-detail {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.products-category-detail:hover {
  transform: scale(1.05);
  transition: 0.7s;
}

.products-category-detail img {
  width: 200px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
}

.products-category-detail h2 {
  font-size: 18px;
}

.products-category-detail p {
  color: #666;
}

.benefit {
  width: 100%;
  padding: 0 16%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 0;
}

.benefit h2 {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: black;
  padding: 0 8%;
}

.benefit-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 5%;
}

.benefit-detail {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
  border-radius: 10px;
  padding: 10% 0% 10% 8%;
}

.benefit-detail img {
  width: 80px;
}

.benefit-detail h3 {
  font-size: 20px;
  line-height: 30px;
  color: black;
  padding: 3% 0 8%;
}

.benefit-detail p {
  padding-right: 12%;
  margin-bottom: 7%;
}

.benefit-detail:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.contact {
  width: 100%;
  height: 900px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 0;
  background-position: 10% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact p {
  position: absolute;
  top: 0;
  left: 50%;
  word-break: break-all;
  padding: 20px 5%;
  color: white;
}

.form-contact {
  width: 35%;
  height: 80%;
  padding: 5%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 15%;
}

.form-contact h1 {
  font-size: 56px;
  color: black;
}

.contact .form-contact p {
  position: static;
  padding: 0;
  color: #b8b8b8;
  font-size: 18px;
  line-height: 26px;
  margin: 5% 0 10%;
}

.form-contact input {
  width: 100%;
  background-color: #f1f3ff;
  padding: 20px 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 5%;
  font-size: 18px;
}

.form-contact button {
  width: 100%;
  padding: 20px 0;
  margin: 5% 0;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
.form-contact i {
  padding-top: 5px;
}

.form-contact button:hover {
  transform: scale(1.05);
  transition: 0.7s;
  color: #ffc107;
}

.comments {
  width: 100%;
  height: 1100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaecef;
}

.comments h2 {
  font-size: 36px;
  text-align: center;
  padding: 8% 37% 5%;
}

.comments-list {
  width: 100%;
  height: 40%;
  position: relative;
}

.comment-detail {
  width: 36%;
  height: 80%;
  padding: 3% 5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.7s;
}

.comment-detail .author {
  width: 100%;
  display: flex;
  column-gap: 5%;
}

.author img {
  width: 70px;
  height: 70px;
  border: 5px solid #293c57;
  border-radius: 50%;
}

.comment-detail p {
  font-size: 18px;
  margin-bottom: 7%;
  padding-right: 5%;
}

.author-infor {
  font-size: 22px;
  padding: 2% 0;
}

.author-infor p {
  padding: 0;
  margin: 0;
}

.activate {
  background-color: white;
  position: absolute;
  top: 5%;
  left: 32%;
  z-index: 100;
}

.deactivate {
  filter: blur(0.5px);
  opacity: 0.5;
}

.slide-left {
  position: absolute;
  top: 25%;
  left: 0;
}

.slide-right {
  position: absolute;
  top: 25%;
  right: 0;
}

.scroll-slideshow {
  width: 100%;
  height: 5%;
  margin-top: 8%;
  padding: 0 10%;
  overflow: hidden;
}

.scroll-slideshow-mobile {
  display: none;
  width: 100%;
  height: 5%;
  margin-top: 8%;
  padding: 0 10%;
  overflow: hidden;
}

.scroll-slideshow h1 {
  font-size: 56px;
  float: left;
  color: #293c57;
}

.scroll-slideshow p {
  float: left;
  margin-right: 5%;
}

.scroll-slideshow img {
  width: 50px;
  float: left;
  margin: 3px 5px;
  cursor: pointer;
}

.scroll-slideshow img:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

.scroll-slideshow .dots {
  width: 15%;
  height: 100%;
  float: right;
  text-align: right;
  padding: 15px 0;
}

.scroll-slideshow .dots .dot,
.scroll-slideshow .dots .dot-mobile {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: inline-block;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.scroll-slideshow .dots .active,
.scroll-slideshow .dots .dot:hover,
.scroll-slideshow .dots .dot-mobile:hover {
  background-color: #293c57;
  width: 18px;
  transform: scale(1.2);
  height: 18px;
}

.group {
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% 0;
  position: relative;
}

.group-detail {
  width: 55%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
  position: absolute;
  top: 20%;
  right: 0%;
  padding: 8% 5% 0;
  backdrop-filter: blur(2px);
  z-index: 1;
  opacity: 0.7;
}

.group-detail h2 {
  position: relative;
  font-size: 46px;
  color: #293c57;
  margin-bottom: 8%;
}

.group-detail a {
  width: 60%;
  padding: 20px;
  border: none;
  background-color: #293c57;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.group-detail a:hover {
  transform: scale(1.1);
  transition: 0.7s;
  background-color: #1f2e42;
}

.news {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 15%;
  text-align: center;
  margin-bottom: 5%;
}

.news h2 {
  font-size: 46px;
  color: black;
  text-align: center;
}

.news-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 5%;
}

.new-detail {
  padding: 8%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.new-detail:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 16px;
}

.new-detail h4 {
  margin: 15px 0;
  text-align: left;
  line-height: 28px;
}
.new-detail h4 a {
  padding: 0;
  background-color: white;
  color: black;
  margin: 0;
  box-shadow: none;
  font-size: 20px;
}

.new-detail .author {
  max-width: 50%;
  border: 1px solid #293c57;
  color: #293c57;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  column-gap: 5px;
}

.new-detail .author img {
  width: 22px;
  height: 22px;
  border: 1px solid #293c57;
}

.new-detail .author span {
  font-size: 16px;
  padding-top: 3px;
}

.new-detail img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.new-detail hr {
  border: 1px solid #d8d7d7;
  margin: 10% 0 5%;
}

.new-category {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.new-category p {
  color: #b8b8b8;
  font-size: 14px;
  margin-bottom: 8px;
}

.new-category h3 {
  color: #666;
  font-weight: 500;
  font-size: 16px;
}

.news a {
  padding: 10px 5%;
  margin: 5% 40%;
  border: none;
  border-radius: 8px;
  background-color: #293c57;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
}

@media only screen and (max-width: 768px) {
  .introduct {
    padding: 0 5%;
    display: block;
  }

  .introduct .left {
    float: none;
  }

  .introduct img {
    float: none;
    margin-top: 5%;
    width: 100%;
  }

  .introduct h2:not(b) {
    width: 100%;
    font-size: 26px;
    padding-right: 10%;
  }

  .introduct p {
    width: 100%;
    padding: 0;
  }

  .search-intro {
    width: 100%;
  }

  .search-intro .search-intro-input {
    width: 80%;
  }

  .recommend_search {
    width: 100%;
  }

  .service {
    width: 100%;
    padding: 0 5%;
  }

  .service h2 {
    font-size: 26px;
  }

  .service p {
    padding: 0;
  }

  .service-detail {
    grid-template-columns: repeat(1, minmax(400px, 2fr));
    padding: 0;
    margin-top: 3%;
  }

  .service-desktop {
    display: none;
  }

  .service-mobile {
    display: block;
  }

  .factory img {
    width: 180px;
    height: 165px;
    bottom: -15%;
  }

  .factory p {
    margin-bottom: 20%;
  }

  .card h3 {
    padding-right: 0;
    font-size: 16px;
  }

  .robot img {
    width: 130px;
    height: 160px;
  }

  .robot p {
    padding-right: 30%;
  }

  .tool img {
    right: -10%;
    bottom: -10%;
  }

  .tool p {
    padding-right: 50%;
  }

  .tool h3 {
    padding-right: 10%;
  }

  .enginee img {
    bottom: -30%;
  }

  .enginee p {
    margin-bottom: 25%;
    padding-right: 20%;
  }

  .product-search h2 {
    font-size: 24px;
    line-height: 33px;
    padding: 0 10%;
  }

  .product-search p {
    padding: 0 5%;
  }

  .product-search {
    padding: 0 10%;
  }

  .list-products-search {
    grid-template-columns: repeat(1, minmax(100%, 2fr));
    padding: 0;
    margin-top: 3%;
  }

  .product-search a:not(.product-rating a) {
    margin: 5% 30% 2%;
  }

  .list-products-search .product-rating p {
    padding: 0;
  }

  .certificate {
    background-image: url("http://localhost/wordpress/wp-content/themes/websiteOngNuoc/assets/images/background-certificate1.png") !important;
    width: 100%;
    padding: 0 5%;
    margin: 10% 5%;
    background-size: cover;
    display: block;
  }

  .panner-company {
    width: 100%;
    padding: 0;
  }

  .company-image {
    width: 150px;
    top: -8%;
  }

  .icon-company {
    top: 0%;
    left: 60%;
  }

  .certificate-image {
    width: 120px;
    top: 65%;
  }

  .certificate-content {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 25%;
    padding: 0;
  }

  .certificate-content h2 {
    font-size: 24px;
  }

  .certificate-event {
    display: block;
    width: 100%;
    height: 60px;
  }

  .certificate-event a {
    padding: 10px 20px;
  }

  .products-category h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .products-category-list {
    width: 100%;
    grid-template-columns: repeat(1, minmax(100%, 2fr));
    padding: 0;
    margin: 3% 0;
  }

  .benefit h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .benefit-list {
    width: 100%;
    grid-template-columns: repeat(1, minmax(100%, 2fr));
    padding: 0;
    margin: 3% 0;
  }

  .contact {
    margin-bottom: 400px;
  }

  .contact form {
    width: 90%;
    height: 60%;
    top: 80%;
    right: 0;
    margin: 0 5%;
    padding: 5% 10%;
  }

  .contact form h1 {
    font-size: 24px;
    text-align: center;
  }

  .contact form p {
    font-size: 14px;
  }

  .comments {
    height: 600px;
    overflow: hidden;
  }

  .comments h2 {
    font-size: 24px;
    text-align: center;
    padding: 5% 10%;
  }

  .scroll-slideshow {
    height: 12%;
  }

  .scroll-slideshow .dots {
    width: 30%;
  }

  .scroll-slideshow .dots .dot {
    width: 10px;
    height: 10px;
  }

  .comments-list {
    height: 60%;
  }

  .comment-detail {
    width: 90%;
    margin: 0 5%;
  }

  .activate {
    position: relative;
    top: 10%;
    left: 0;
  }

  .slide-left,
  .slide-right {
    top: 10%;
  }

  .group-detail {
    width: 90%;
    margin: 0 5%;
    top: 20%;
    right: 0;
    padding: 10% 5%;
  }

  .group-detail h2 {
    font-size: 32px;
    margin-bottom: 100px;
    padding-right: 10%;
  }

  .news {
    min-height: 800px;
    margin: 10% 0;
  }

  .news h2 {
    font-size: 24px;
  }

  .news-list {
    width: 100%;
    grid-template-columns: repeat(1, minmax(100%, 2fr));
    padding: 0;
    margin: 5% 0;
  }

  .news a {
    margin: 0;
  }

  .new-detail .author {
    max-width: 70%;
  }

  .logo-contact {
    width: 100%;
    padding: 10px 5%;
    position: relative;   
  }

  .list-logo-contact {
    width: 80%;
    margin: 0 10%;
    overflow: hidden;
  }

  .logo-contact .list-logo-contact img {
    width: 300%;
    height: 170px;
    transition: 0.5s;
  }

  .logo-contact .next,.logo-contact .prev {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 40%;
    z-index: 1000;
  }

  .logo-contact .prev {
    left: 5%;
  }

  .logo-contact .next { 
    right: 5%;
  }

}
